/*General*/
:root {
  --white: #fffffe;
  --black: #0d0d0d;
  --purple: #624cab;
  --gray: #f5f5f5;
  --shadowblack: rgba(0, 0, 0, 0.13);
}

img {
  display: block;
  width: 100%;
  margin: auto;
}

.project-name {
  margin-top: 10px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
  display: flex;
}

.project-info {
  position: absolute;
  font-size: smaller;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: none;
}

.project-text {
  color: var(--white) !important;
  margin-top: 33%;
}

.project-image:hover + .project-info,
.project-info:hover {
  display: block;
}

/*Video Main Style*/

iframe {
  display: block;
  margin: 60px auto;
}

.video-main {
  max-width: 560px;
  max-height: 315px;
  width: 80vw;
  height: calc(80vw / 1.77);
}

.video-home {
  display: block;
}

/* APP */
@media (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .home-welcome {
    margin-top: 50px;
  }

  .project-image {
    height: 48vw;
  }

  .projects-grid {
    grid-gap: 2vw;
  }

  .project-title {
    font-size: 18px !important;
    margin-bottom: 10px;
  }

  .project-section {
    padding: 0 2vw;
  }
}

.navbar-mini {
  display: none;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  font-size: 21px;
  align-items: center;
  z-index: 99;
  background-color: var(--black);
  padding-top: 5%;
  padding-bottom: 2%;
}

.navmini-link {
  font-size: 32px;
  margin: auto 10px;
}
